* {
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.header img {
  width: 100%;
}

.navigation {
  width: 100%;
  padding-top: 1rem;
  margin-right: 10px;
  display: inline-block;
  border: #999999 1px solid;
  border-top: unset;
  border-left: unset;
  border-right: unset;
}

.navigation a {
  margin-left: 1rem;
  margin: 20px;
  text-align: center;
}

main h4 {
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 1rem;
}

nav {
  background-color: white;
  width: 100%;
  height: 40px;
  display: inline-block;
  font-size: 25px;
  color: black;
  padding: 0 10px;
}

a span {
  font-size: 20px;
}

a span:hover {
  background-color: #efefef;
}

a i:hover {
  background-color: #efefef;
}

a {
  text-decoration: unset;
  color: black;
}

.contact {
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact a {
  margin: 3px;
}

.right {
  float: right;
  margin-left: 10px;
  padding-right: 30px;
}

.left {
  float: left;
  margin: 3px;
}

.left img {
  width: 30px;
  height: 30px;
}

body {
  margin: 0;
}

.iconpic img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.header {
  margin-bottom: 15px;
  position: relative;
}

.iconpic {
  margin-right: 40px;
  margin-top: -95px;
  position: relative;
}

.introduction {
  margin-left: 18%;
  margin-right: 18%;
}

main {
  margin-left: 18%;
  margin-right: 18%;
}

.margin {
  padding-top: 10px;

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  text-align: left;
  width: 380px;
  height: 300px;
  font-size: 20px;

  margin: 10px;
}

.card span {
  margin-top: 1rem;
  font-weight: bold;
  margin-left: 10px;
}

.card img {
  width: 100%;
  height: 250px;
}

.card:hover {
  background-color: #efefef;
}

strong {
  font-weight: unset;
  color: rgb(105, 167, 192);
}

.introduction span {
  color: #999999;
}

.introduction h5 {
  color: #585858;
  font-weight: bold;
}

.new {
  padding-top: 35%;

  text-align: center;
  color: #999999;
}
